<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
        Required for writing global settings like enable_freeform_support and
        force_resizable_activities. This is a signature|privileged permission;
        normal apps can't auto-grant it. The user grants it once via:
            adb shell pm grant com.xmo.mapvideoplayer android.permission.WRITE_SECURE_SETTINGS
        On the Changan head unit the adb shell already has pm-grant capability
        after the adbd password (no root needed for this step).
    -->
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <queries>
        <package android:name="com.google.android.youtube" />
        <package android:name="app.revanced.android.youtube" />
        <package android:name="com.google.android.apps.maps" />
        <package android:name="app.revanced.android.apps.maps" />
        <package android:name="com.waze" />
        <package android:name="net.osmand.plus" />
        <package android:name="net.osmand" />
        <package android:name="app.organicmaps" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XmoMapVideoPlayer">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.XmoMapVideoPlayer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
